<div style="background-color: #343a40;border-radius: 5px;color: #f8f9fa;padding: 20px;">
    <h1 style="color:  #f8f9fa;">mm-coding</h1>
    <hr style="background-color: #f8f9fa;">
    <div style="text-align: center;color: #f8f9fa;">
        Hi there your question response is updated to view it pleas click here and enter this code : <span style="color: red;">{{special_code}}</span>
    </div>
        <br>
    <a href="http://127.0.0.1:8000/response/{{last_question_id}}/" style="border-radius: 5px;background-color: #28a745; color: white;padding: 3px;text-decoration: none;margin-left: 50%;">Your question</a>
    <br>
    <p style="color: #f8f9fa;">or copy this link to your url "http://127.0.0.1:8000/response/{{last_question_id}}/"    </p>
    <h6 style="color: #f8f9fa;">this question on : {{date}}</h6>

</div>