{% extends 'admin/adminbase.html' %}
{% block directory %}detail decision '{{object.news_title}}' {% endblock %}
{% block admincontent %}

<div class="bac mx-auto p-2  ">
    <h2 class="text-light">Decision :</h2>
    <hr class="bac1">
    <div class="bac1 text-dark p-2 m-2 h3 rounded">
<h1>        Title : {{object.news_title}} 
</h1> 
       <hr class="w-100 bac">
        Description : {{object.news_description}} 
        <hr class="w-100 bac">
        {% if object.news_principale_image %}
        Principal Image : <img src="{{ object.news_principale_image.url }}" height="200px" alt=""> 
        <h6 style="font-size: xx-small;">image name :{{object.news_principale_image.name}}</h6>
        <hr class="w-100 bac">
        {% endif %}
        Date : {{object.news_date}} 
        <hr class="w-100 bg-dnews_daterk">      
    </div>
</div>
<div class="bac rounded my-2 p-2">
    <div class="bac1 p-2 d-flex justify-content-center flex-wrap rounded">
        <h3 class="w-100">Extra Image:</h3>
        <div style="height: 5px;width: 95%;" class="bac mx-auto rounded my-2"></div>
        {% for file in extrafile %}
            {% if file.news_image %}
            <div class="mx-2 my-2"> <img src="{{file.news_image.url}}" width="300px" class="rounded" alt="">
            <h6 style="font-size: xx-small;">image name :{{file.news_image.name}}</h6>
        </div>
            {% endif %}
        {% endfor %}
    </div>
    <hr>   
    <div class='bac1 rounded p-2  my-2'>
        <h3>Extra File:</h3>
        <div style="height: 5px;width: 95%;" class="bac mx-auto rounded  my-2"></div>
        <div class=" flex-wrap">
            {% for file in extrafile %}
            {% if file.news_file %}
             <h4> File number: {{ forloop.counter }}</h4>  <a href="{{file.news_file.url}}" class="btn-primary w-100 btn mx-2">View</a>
             <h6 style="font-size: xx-small;">file name :{{file.news_file.name}}</h6>
                
             <hr>
             {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}