{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class=" bac1  d-flex justify-content-md-between flex-wrap-reverse  mb-2" >

      <div class="d-flex justify-content-center  ml-2 my-1 h2">
        <form action="" method="GET">
        <button class="button button1 h4 my-auto mx-1" type="submit" value="1" name="finish" >المنجزة</button>
        <button class="button button1 h4 my-auto mx-1" type="submit" value="0" name="finish">قيد الإنجاز</button>
      </form>
      </div>

       <div class="d-flex justify-content-center mr-2  "> <h2 class="m-2 text-white text-right">المشاريع {% if finish == '0' %}قيد الإنجاز {% else %}المنجزة{% endif %}  </h2><svg class=" mr-3 text-white bi bi-building mx-1 my-auto h2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15.285.089A.5.5 0 0115.5.5v15a.5.5 0 01-.5.5h-3a.5.5 0 01-.5-.5V14h-1v1.5a.5.5 0 01-.5.5H1a.5.5 0 01-.5-.5v-6a.5.5 0 01.418-.493l5.582-.93V3.5a.5.5 0 01.324-.468l8-3a.5.5 0 01.46.057zM7.5 3.846V8.5a.5.5 0 01-.418.493l-5.582.93V15h8v-1.5a.5.5 0 01.5-.5h2a.5.5 0 01.5.5V15h2V1.222l-7 2.624z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M6.5 15.5v-7h1v7h-1z" clip-rule="evenodd"/>
            <path d="M2.5 11h1v1h-1v-1zm2 0h1v1h-1v-1zm-2 2h1v1h-1v-1zm2 0h1v1h-1v-1zm6-10h1v1h-1V3zm2 0h1v1h-1V3zm-4 2h1v1h-1V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm-2 2h1v1h-1V7zm2 0h1v1h-1V7zm-4 0h1v1h-1V7zm0 2h1v1h-1V9zm2 0h1v1h-1V9zm2 0h1v1h-1V9zm-4 2h1v1h-1v-1zm2 0h1v1h-1v-1zm2 0h1v1h-1v-1z"/>
          </svg>
        </div>
        
    </div>
<div class="bg-dark text-light"></div>
    <div class="d-flex justify-content-center flex-wrap mx-auto " style="max-width: 1000px;width: 95%;"> 


    {% for data in Project %}
    <div class="card m-2 container1" style="width: 18rem;">
        <img src="{{ data.news_principale_image.url }}" class="card-img-top image1" alt="...">
        <div class=" overlay1">
          <div class="p-auto h1 text1" > <a  href="{{ data.id }}" class="p-2   badge badge-secondary">المزيد</a> </div>
      </div>   
      <h5 class="card-title d-flex justify-content-center">{{ data.news_title }}</h5>
    </div>
    {% endfor %}
    
    {% if showmore %}
        {% for data in Projectmore %}
        
            <div class="card m-2 container1" style="width: 18rem;">
                <img src="{{ data.news_principale_image.url }}" class="card-img-top image1" alt="...">
                <div class=" overlay1">
                <div class="p-auto h1 text1" > <a  href="{{ data.id }}" class="p-2   badge badge-secondary">المزيد</a> </div>
            </div>   
            <h5 class="card-title d-flex justify-content-center">{{ data.news_title }}</h5>

            </div>

        {% endfor %}
            <form action="" class="w-100 d-flex justify-content-center" method="get">
                <button type="submit" name="showless" value="show less"class="button button3"> عرض أقل</button>
            </form>

    {% else %}
        <form action="" class="w-100 d-flex justify-content-center" method="get">
            <button type="submit" name="showmore" value="show more"class="button button3">عرض المزيد</button>
            <input type="hidden" name="finish" value={{finish}}>
        </form>
    {% endif %}
  </div>
{% endblock %}