{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bac1  d-flex justify-content-end mb-2">
    <h2 class="m-2 text-white">الدليل</h2>
        <svg class="bi h2 text-white my-auto mr-2 bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
</div>
<div class="d-flex justify-content-center flex-wrap container-fluid bac1 my-2 p-2">
    <div class="d-flex w-100 justify-content-center">
    <h2 class="text-light">:</h2><h2 class="text-light">مجالات المؤسسات</h2>
</div>
    <div style="height: 2px;width: 80%;" class="bac2 mx-auto"></div>
    <div class=" rounded p-2 d-felx justify-content-center mx-auto" style="width: 95%;">
        {% for data in CompanySection %}
            <a href="{{ data.id }}" class="button button1 my-2 p-1 text-decoration-none w-100 "><h2> {{data.company_section_title}}</h2></a>
        {% endfor %}
    </div>
</div>

{% endblock %}