{% extends 'admin/adminbase.html' %}
{% block directory %}list of company type related to '{{object.company_section_title}}' section {% endblock %}
{% block admincontent %}

<div class="bac mx-auto p-2 rounded " style="width: 80%;">
    <div>
        <div class="bac1 p-2 rounded">
            <a href="create/" class="text-decoration-none "><h3 class="button button3 w-100 my-2 "> Create Type</h3></a>
            <h2 class="text-dark"> All Type related to {{object.company_section_title}} section :</h2>
            <hr class="bac">
            <div class="bac rounded p-1">
                {% for type in types %}        
                <div class="d-flex justify-content-between  bac p-1">
                    <a href="{{ type.id }}/" class="text-decoration-none"><div class="bac rounded m-1 mx-auto  text-center text-white h4" >
                        >>>  {{type.company_type_title}}
                    </div>
                    </a>
                    <div class="d-flex justify-content-center  p-0">
                        <div class=" my-auto bac1 rounded mx-3" style="width: 3px;height: 80%;"></div>
                        <a href="{{ type.id }}/delete/" class="text-decoration-none m-1"><div class="button buttondelete rounded p-1 m-1 mx-auto  text-center m h4" >
                            Delete
                        </div></a>
                        <a href="{{ type.id }}/update/" class="text-decoration-none m-1"><div class="button buttonupdate rounded p-1 m-1 mx-auto  text-center  h4" >
                            Update
                        </div></a>
                    </div>
                </div>
                <hr class="bac1 my-0">
        {% endfor %}
        </div>
    </div>
    </div>
</div>
{% endblock %}
