{% extends 'base.html' %}
{% block content %}
<div class="m-3 p-3 bac2 rounded">
    <img src="{{ NewsModel.news_principale_image.url }}" class="rounded" width="100%" style="border-radius: 10px;" alt="...">
    <div class="card-body">

        <h5 class="card-title d-flex justify-content-center">{{ NewsModel.news_title }}</h5>
       {% if projectfinish %}<h5 class="card-title d-flex justify-content-center"> منجز
       </h5>{% endif %}
        <p class="text-center d-flex justify-content-center">{{ NewsModel.news_description }}</p><!-- if the discription is in form of  html add '|safe'-->
    </div>   
</div>
{% if NewsFileModel %}
    <div class="  m-3 p-3 bac2 d-flex justify-content-center flex-wrap rounded">
        {% for data in NewsFileModel %}
     
                {% if data.news_image.url %}
                    <div class="my-2 mx-2 p-2 bac1" style="border-radius: 15px; width: 400px;">
                        <img src="{{data.news_image.url}}" class="rounded" width="100%" alt="">
                    </div>
                {% endif %}
          
        {% endfor %}
    </div>
<div class="bac2 rounded p-3 justify-content-end  flex-wrap d-flex mx-3">   
    <h1>:</h1><h1> الملفات الإضافية</h1>
    <div style="height: 3px;width: 95%;" class="bac1 rounded"></div>
{% for data in NewsFileModel %}
   
        {% if data.news_file %}
            <div class="bg-secon dary p-2 rounded d-flex justify-content-end " style="width: 95%;">
                <a href="{{data.news_file.url}}" class="mx-2 bg-primary p-2 rounded text-decoration-none text-center text-light"> <strong> فتح الملف</strong></a>
                <a href="{{data.news_file.url}}" class="mx-2 bg-danger p-2 rounded text-decoration-none text-center text-light " download=""> <strong> تحميل الملف</strong></a>
                <h4> {{ forloop.counter }} </h4><h4> :</h4><h4> الملف رقم </h4>
            </div>           
            <div style="height: 3px;width: 95%;" class="bac1 rounded"></div>
        {% endif %}
    
{% endfor %}
</div>
{% endif %}
{% endblock %}