{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="m-3 p-3 bac2 " style="border-radius: 20px;">
    <img src="{{ Maalem.maalem_principal_image.url }}" class="rounded" width="100%" style="border-radius: 10px;" alt="...">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-center">{{ Maalem.maalem_title }}</h5>
    </div>   
    <p class="text-center d-flex justify-content-center">{{ Maalem.maalem_descriptions|safe }}</p>
    <p class="text-center d-flex justify-content-center">{{ Maalem.maalem_loaction|safe }}</p>
</div>

    <div class="  m-3 p-3 bac2 d-flex justify-content-center flex-wrap" style="border-radius: 20px;">
        {% for data in MaalemImage %}
            {% if data.maalem_image_maalem == Maalem %}
            <div class="my-2 mx-2 p-2 bac1" style="border-radius: 15px; width: 400px;">
                <img src="{{ data.maalem_image_image.url }}" class="rounded" width="100%" alt="">
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endblock %}