{% extends 'admin/adminbase.html' %}
{% block directory %}home{% endblock %}

{% block admincontent %}

<div class="bg-dark p-2 mx-2 rounded-top">
    <h1 class="text-center  p-2 text-light mb-2">Welcome <a href="user/" class="text-decoration-none"><span style="color:gold;" class="">{{user}}</span></a> to home</h1>
    <hr class="bac1">
</div>
    <div class="bac1 p-3 d-flex mx-2 justify-content-between rounded">
        <h1 class="bac3 text-light rounded p-1 text-center">N <br> E <br> W <br> S</h1>
        <div class="mx-2 bac1 rounded p-1 w-100">
            <a href="{% url 'activitylist' %}" class="text-decoration-none"><div class=" my-2  button button3 w-100"> <h4>Activity </h4> </div></a>
            <a href="{% url 'projectslist' %}" class="text-decoration-none"><div class=" my-2  button button3 w-100"> <h4>Projects </h4> </div></a>
            <a href="{% url 'decisionslist' %}" class="text-decoration-none"><div class=" my-2  button button3 w-100"> <h4>Decisions</h4> </div></a>
        </div>
    </div>

    
        <div class="bac1 p-3 d-flex justify-content-between flex-reflex rounded my-4 mx-2 row" >
            <a href="{% url 'questionlist' %}" class="text-decoration-none col-md-3 "><div class=" my-2   button button{% if x %}2{% else %}3{% endif %} w-100"><h4>Question    </h4> </div></a>
            <a href="{% url 'transactionslist' %}" class="text-decoration-none col-md-3 "><div class=" my-2   button button3 w-100"><h4>Transactions</h4> </div></a>
            <a href="{% url 'maalemlist' %}" class="text-decoration-none col-md-3 "><div class=" my-2   button button3 w-100"><h4>Maalem      </h4> </div></a>
            <a href="{% url 'companysectionlist' %}" class="text-decoration-none col-md-3 "><div class=" my-2   button button3 w-100"><h4>Company     </h4> </div></a>
        </div>
<div class="my-5" style="height: 1px;"></div>
<form action="" class="bac mb-0 mt-6 text-light p-4 " method="POST">
    {% csrf_token %}
    <h3 class="w-100">Contact mmcoding :</h3>
    <div class="bac rounded mx-auto" style="width: 90%;height: 3px;"></div>
    <div class="input-group bac my-0 p-2  ">
        <input type="text" class="form-control" name="message" placeholder="Send for us what you want" >
        <div class="input-group-append">
          <button class="button button1 " style="border-radius: 0%;height: 38px;border-top-right-radius:5px ;border-bottom-right-radius: 5px;" type="input" value="submit">Send</button>
        </div>
    </div>
    <div class="bac1 mx-auto rounded my-2" style="width: 80%;height: 2px;"></div>
      Tell : 00 961 111 111
      <br>
    <h6 class="mmcoding">  mmcoding.com</h6>
</form>






{% endblock %}