{% extends 'admin/adminbase.html' %}
{% block directory %}detail company '{{thecompany.company_title}}' {% endblock %}

{% block admincontent %}

<div class="bac mx-auto p-2  ">
    <h2 class="text-light">Company :</h2>
    <hr class="bac1">
    <div class="bac1 text-dark p-2 m-2 h3 rounded">
<h1>        Title : {{thecompany.company_title}} 
</h1>
        <hr class="w-100 bac">
        Tell : {{thecompany.company_tell}} 
        <hr class="w-100 bac">
        Type : {{ thecompany.type }}
        <hr class="w-100 bac">
        Location : {{thecompany.company_location}} 
        <hr class="w-100 bg-dnews_daterk">

        
    </div>
</div>
{% endblock %}