{% extends 'admin/adminbase.html' %}
{% block directory %}list company of {{thetype.company_type_title}} type {% endblock %}

{% block admincontent %}
<div class="bac rounded mx-auto p-3" style="width: 80%;">
    <div class="bac1 p-1 rounded">
        <div class="bac1 p-2 w-100 d-flex justify-content-center"><a href="create/" class="w-50"><div class="button button3 h3  w-100  p-1"> Create</div></a></div>
        <h2>All company related to {{thetype.company_type_title}} type:</h2>
        <hr class="bac3">
            <div class="bac p-1 rounded">
            {% for object in companys %}
                <div class="d-flex justify-content-between rounded  bac p-1">
                    <a href="{{ object.id }}/" class="text-decoration-none "><div class="bac rounded m-1 mx-auto p-1 text-center text-white h4" >
                        {{object.company_title}}
                    </div>
                    </a>
                    <div class="d-flex justify-content-center  p-0">
                        <div class=" my-auto bac1 rounded mx-3" style="width: 3px;height: 80%;"></div>
                        <a href="{{ object.id }}/delete/" class="text-decoration-none m-1"><div class="button buttondelete rounded p-1 m-1 mx-auto  text-center m h4" >
                            Delete
                        </div></a>
                        <a href="{{ object.id }}/update/" class="text-decoration-none m-1"><div class="button buttonupdate rounded p-1 m-1 mx-auto  text-center  h4" >
                            Update
                        </div></a>
                    </div>
                </div>
            <hr class="m-0 bac1">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


